*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: auto;
    padding-top:4% ;
    padding-bottom: 4%;

}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after {
    display: table;
    clear: both;
    content:"" ;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}







nav{
    width: 100%;
    margin: 0px;
}

nav ul{
    background: #eee;
    overflow: auto;

}

.topnav li{
    list-style: none;
    float: left;
}

.topnav li.topnav-right{
    float: right;
}

.topnav a{
    background-color:#eee;
    color: black;
    width: 100%;
    display: block;
    min-height: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 14px;

}

.topnav a:hover{
    background-color: blue;
    color: white;
}

ul.topnav li.dropdownicon{
    display: none;
}

#section-1-gradient{ 
    background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   /*background: rgb(238,174,202);
   background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
} 
.leftside-col{
    margin-left: 100px;

}

h1.large{
    color: rgb(12, 12, 12);
    font-size: 60px;
    margin: 0;
    line-height: 70px;
}

form h2{
    color: rgb(17, 16, 16);
}



input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;

}





@media screen and (max-width:700px){
    ul.topnav li:not(:nth-child(1))  {
display: none;
    }
 ul.topnav li.dropdownicon{
     display: block;
     float: right;
 }
     ul.topnav.responsive li.dropdownicon{
         position: absolute;
         top: 0;
         right: 0;
     }


ul.topnav.responsive{
    position: relative;
}

ul.topnav.responsive li{
    display: inline;
    float: none;
}

ul.topnav.responsive li a{
    display: block;
    text-align: left;
}

}



